.container {
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}
li.done {
    color: #ddd;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 2px solid #eee;
    font-size: 18px;
    line-height: 48px;
    padding-left: 20px;
}
ul {
    margin: 0;
    padding: 0;
}
button {
    border-radius: 5px;
    color: white;
    min-width: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10pt;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid blue;
    transition-duration: 0.2s;
}
.fg {
    display: flex;
    justify-content: space-between;
}