.car {
    background-color: antiquewhite;
    padding: 64px 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.carLeft {
    grid-column: 1/2;
}
.carLeft img{
    width: 450px;
    height: auto;
    object-fit: cover;
}
.carRight {
    grid-column: 2/3;
}
.carRight button {
    padding: 12px 8px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 10px;
}
.red {
    background-color: red;
}
.black {
    background-color: black;
    color: white;
}
.white {
    background-color: white;
}