.store {
    display: flex;
}
.hinhCart {
    width: 55px;
    height: 55px;
}
.khoangCach {
    margin-left: 60px;
    margin-right: 60px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 3%;
    padding: 20px;
    font-size: 10pt;
}
.hinh {
    width: 150px;
    height: auto;
    margin: 0;
}
.margin {
    margin: 2pt;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hinhDetail {
    width: 200px;
    height: auto;
    margin: 0;
}
.hide{
    display: none;
}
.chiaCot {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.hinhTrongGio {
    width: 50px;
    height: auto;
    margin: 0;
}